{% extends 'blogapp/base.html' %}

{% block content %}
  {% if email_valid %}
    {% if reset_sent %}
      You requested for a password reset for user with email <em>{{user.email}}</em>. <a href="{{ password_reset_url }}">Click this link</a> to reset your password
    {% endif %}
  {% else %}
    {% if reset_sent %}
      <p class="text-danger">You entered the wrong email. Check and try again</p>
    {% endif %}
    <h1>Change password</h1>
    <form action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="reset_sent" value='True'>
      <input type="submit" value="Reset password" class="btn btn-primary btn-sm">
    </form> 
  {% endif %}
  
{% endblock %}